<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.daniulive.smartpublisher">
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />

<!--GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-feature android:name="android.hardware.location.gps"/>
    <uses-feature android:name="android.hardware.location.network"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="o8VqNBNHpot3KU730AGo3hlCTlNG61KQ" />
        <activity android:name=".activity.MainActivity" >

        </activity>
        <activity android:name=".activity.MapActivity"  />
        <activity android:name=".activity.TaskActivity"  />
        <activity android:name=".activity.TaskInfoActivity"  />
        <activity android:name=".activity.ReportActivity"  />
        <activity android:name=".activity.ReportInfoActivity"  />
        <activity android:name=".activity.ScheduleActivity"  />
        <activity android:name=".activity.EventRecordActivity" android:windowSoftInputMode="adjustPan|stateHidden"  />
        <activity android:name=".activity.EventInfoActivity"  />
        <activity android:name=".activity.ContactListActivity"  />
        <activity android:name=".activity.LawActivity"  />
        <activity android:name=".activity.MessageActivity"  />
        <activity android:name=".activity.MessageInfoActivity"  />
        <activity android:name=".activity.MessageReportActivity"  />
        <activity android:name=".activity.CameraActivity"  />
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".service.PositionService"/>
        <service android:name=".service.UploadService"/>
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
    </application>

</manifest>